doctype html
html
    head
        title= title
        block stylesheet
          link(rel='stylesheet', href='/stylesheets/style.scss', type="text/x-scss")
    body
        block content
        block javascript
