nav.navBar
    div.mainContainer
        a.nav Expendshare
        div.secondaryContainer
            ul.navList
                li.navItem
                    a.navLink(href="/event/"+dataEvent.slug) Dashboard
                li.navItem
                    a.navLink(href="/event/"+dataEvent.slug+"/expenses") Dépense
                li.navItem
                    a.navLink(href="#") Personnes
